/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(to bottom, #915299, #e26db5);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form {
  background-color: #ffffff;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 450px;
}

.heading {
  background-color: #f1eeea;
  padding: 10px;
}
h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

h5 {
  text-align: center;
  margin-bottom: 20px;
  color: black;
}
form {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

input,
textarea {
  border: none;
  margin-bottom: 15px;
  padding: 10px;
  background-color: #f1eeea;

  font-size: 1rem;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #6a85b6;
  box-shadow: 0 0 5px rgba(106, 133, 182, 0.5);
}

button {
  background-color: #6a85b6;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #5472a6;
}

/* Responsive */
@media (max-width: 480px) {
  .contact-form {
    padding: 15px;
  }
}
